@{
    ViewData["Title"] = "Loading";
}

<div aurelia-app="boot">Loading...</div>

@section scripts {    
    <script type="text/javascript" src="~/dist/app.js" asp-append-version="true" charset="utf-8"></script>
}
